  <h1>Question №<%= @question.id %>. <%= @question.body %></h1>
  <% @answers.each.with_index(1) do |answer, index| %>
    <p><%= index %>. <%= answer.body %></p>
  <% end %>

  <p><%= link_to 'Delete question', @question,
                                    method: :delete,
                                    data: { confirm: "You sure?" } %></p>
