<nav class="navbar navbar-light bg-light">
  <span>
    <%= link_to t('.title'), tests_path, class: 'nav-link' %>
    <%= link_to t('.title_admin'), admin_tests_path, class: 'nav-link' %>
  </span>

  <span class="navbar-text">
    <%= t('.greeting_1') %> <b><%= current_user.email %></b> <%= t('.greeting_2') %> |
    <%= link_to t('.logout'), destroy_user_session_path, method: :delete %>
  </span>
</nav>
