<div class='nav nav-admin'>
  <span class='nav-admin title'><%= t('.header') %></span>

  <div class='nav-admin user'>
    <%= t('.greeting_1') %> <b class='nav-admin user-email'><%= current_user.email %></b> <%= t('.greeting_2') %> |
    <%= link_to t('.exit'), destroy_user_session_path, method: :delete %>
  </div>
</div>
