<div>

  <div class='nav main'>
    <h3>
      <%= link_to t('.title'), root_path %>
    </h3>
  </div>

  <div class='nav user'>
    <h5>
      <% if user_signed_in? %>
        Welcome, <b><%= current_user.email %></b> Guru |
        <%= link_to t('.logout'), destroy_user_session_path, method: :delete %>
      <% else %>
        <%= link_to t('.login'), new_user_session_path %>
        <%= link_to t('.sign_up'), new_user_registration_path %>
      <% end %>
    </h5>
  </div>

</div>
