<nav class="navbar navbar-light bg-light">
  <span>
    <%= link_to t('.title'), tests_path, class: 'nav-link' %>
    <% if current_user&.admin? %>
      <%= link_to t('.title_admin'), admin_tests_path, class: 'nav-link' %>
      <%= link_to 'Gists', admin_gists_path, class: 'nav-link' %>
    <% end %>
  </span>

  <span class="navbar-text">
    <% if user_signed_in? %>
      <%= t('.greeting_1') %> <b><%= current_user.email %></b> <%= t('.greeting_2') %> |
      <%= link_to t('.logout'), destroy_user_session_path, method: :delete %>
    <% else %>
      <%= link_to t('.login'), new_user_session_path(resource_name) %> |
      <%= link_to t('.sign_up'), new_user_registration_path(resource_name) %>
    <% end %>
  </span>
</nav>
