<p>Question: <%= @answer.question.body %></p>

<p>Answer: <%= @answer.body %></p>
<p>Correct: <%= @answer.correct %></p>

<%= link_to 'Edit', edit_admin_answer_path(@answer) %> |
<%= link_to 'Back', admin_question_path(@answer.question) %>
