<h2><%= @answer.question.body %></h3>

<h3><%= @answer.body %></h4>
<p><%= t('.correct') %>: <%= @answer.correct %></p>

<%= link_to t('common.button.update'), edit_admin_answer_path(@answer) %> |
<%= link_to t('common.button.back'), admin_question_path(@answer.question) %>
