<h1>"<%= @question.test.title %>"</h1>

<p><%= @question.body %></p>

<h2><%= t('.body') %>:</h2>

<%= link_to t('.new'), new_admin_question_answer_path(@question) %>

<ol>
  <%= render @question.answers %>
</ol>

<%= link_to t('.update'), edit_admin_question_path(@question) %> |
<%= link_to t('.back'), admin_test_path(@question.test) %>
