<h1><%= t('.header') %></h1>

<p><%= link_to t('.new_test'), new_admin_test_path %></p>

<table class="table table-bordered table-striped">
  <tr>
    <th class="sort-by-title pointer">
      <%= t('.column_1') %>
      <%= octicon 'arrow-up', class: 'text-success hide' %>
      <%= octicon 'arrow-down', class: 'text-success hide' %>
    </th>
    <th class="align-middle"><%= t('.column_2') %></th>
    <th class="align-middle"><%= t('.column_3') %></th>
    <th class="align-middle" colspan="3"><%= t('.column_4') %></th>
  </tr>

  <%= render @tests %>
</table>
