<h1><%= t('.header', id: @test.id, title: @test.title) %></h1>

<h2><%= t('.body') %></h2>

<%= link_to t('.new_question'), new_admin_test_question_path(@test) %>

<ol>
  <%= render @test.questions %>
</ol>

<%= link_to t('.update'), edit_admin_test_path(@test) %> |
<%= link_to t('.back'), admin_tests_path %>
